td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0px;
}

svg {
	height: 150px;
}

.main {
	box-shadow: 8px 8px 5px $shadow-color;
	/*background: url(../images/background_dark_stripes.png) #eee repeat 0px 0px;*/
	/*background-color: rgba(235, 235, 235, 1);*/
	/*padding: 20px 50px 20px 50px;*/
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 100px;
}

.note-content {
	box-shadow: 1px 1px 2px #424B54;
	padding: 10px;
	overflow: scroll;
	font-family: 'Arial', sans-serif;;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 350px;
	background: url(../images/vintage_paper.jpg) transparent  0px 0px;
	border: 0px solid white;
	width: 90%;
	font-family: $josefin-slab;
	margin-top: 30px;
	width: 80%;
	margin:25px;
	padding:25px;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

#end-of-note {
	border: 1px solid rgba(220, 220, 220, 1);
}

#notes-title {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	text-decoration: underline;
}

.note-content p{
	font-family: 'Arial', sans-serif;
	/*font-size: 18px;*/
	/*line-height: 130%;*/
}

.note-date{
	font-size: .9em;
}

form a {
	margin-left: 5px;
}

.row-header {
	background-color: rgba(157, 180, 192, 1);
	text-align: center;
}

.note-content p{
	/*font-family: 'Arial', sans-serif;*/
	font-family: $josefin-slab;
	font-size: 18px;
	line-height: 130%;
}

p.thin {
	line-height: 130%;
	font-size: 12px;
	font-weight: 100;
}






